bin/
bin_test/
*.log
target/
/.project
.polyglot.*
pom.tycho
.DS_Store

/binaries/org.eclipse.swt.*/src/
tmpdir/
# temp build script used by copilot instructions: https://github.com/eclipse-platform/eclipse.platform.swt/blob/c3318b8e7ebc9e34de80afc4f3e5ec15cc7ca112/.github/workflows/copilot-setup-steps.yml#L43
/build_gtk.sh
