<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SWT Tools"
            id="org.eclipse.swt.swt.tools">
      </category>
      <view
            name="Mac Generator View"
            icon="icons/mac.gif"
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.MacGeneratorView"
            id="org.eclipse.swt.tools.views.MacGeneratorView">
      </view>
   </extension>

   <extension point="org.eclipse.ui.editors.templates">
      <include
            file="templates/jnitemplates.xml"
            translations="$nl$/templates/jnitemplates.properties">
      </include>
   </extension>
</plugin>
