<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%pluginName"
            id="org.eclipse.swt.swt.tools">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.MacGeneratorView"
            icon="icons/mac.gif"
            id="org.eclipse.swt.tools.views.MacGeneratorView"
            name="%macViewName">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.SpyView"
            icon="icons/spy.gif"
            id="org.eclipse.swt.tools.views.SpyView"
            name="%spyViewName">
      </view>
   </extension>

   <extension point="org.eclipse.ui.editors.templates">
      <include
            file="templates/jnitemplates.xml"
            translations="$nl$/templates/jnitemplates.properties">
      </include>
   </extension>

   <extension
         id="jnibuilder"
         name="%jniBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="false">
		<run class="org.eclipse.swt.tools.builders.JNIBuilder"/>
      </builder>
   </extension>

   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.eclipse.swt.tools.builders.Check64CompilationParticipant"
            id="org.eclipse.swt.tools.Check64CompilationParticipant">
      </compilationParticipant>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="org.eclipse.swt.tools.contribution">
         <menu
               label="%pluginName"
               path="additions"
               id="org.eclipse.swt.tools.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%enableCheck64Name"
               class="org.eclipse.swt.tools.builders.Check64EnableAction"
               menubarPath="org.eclipse.swt.tools.menu/group1"
               style="toggle"
               enablesFor="1"
               id="org.eclipse.swt.tools.check64EnableAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
