<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.swt.tools"
   name="%pluginName"
   version="3.0.2"
   provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.swt" export="true"/>
      <import plugin="org.apache.ant" export="true"/>
   </requires>

</plugin>
