<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Runtime -->
   
<!-- Required plugins -->
   
<!-- Extension points -->
<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.ControlsExample.name"
            icon="icons/controls_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.controls.ControlView"
            id="org.eclipse.swt.examples.controls.view">
      </view>
      <view
            name="%view.CustomControlsExample.name"
            icon="icons/controls_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.controls.CustomControlView"
            id="org.eclipse.swt.examples.customcontrols.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.ControlsExample.name"
            icon="icons/controls_example.gif"
            description="%launchitem.ControlsExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.controls.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.controls.view">
         </view>
      </item>
      <item
            name="%launchitem.CustomControlsExample.name"
            icon="icons/controls_example.gif"
            description="%launchitem.CustomControlsExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.customcontrols.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.customcontrols.view">
         </view>
      </item>
   </extension>

</plugin>
