<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.swt.examples.controls"
   name="%plugin.SWTControlsExample.name"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.swt.examples.controls.ControlPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.swt"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="controls.jar"/>
</runtime>

<!-- Extension points -->
<!-- Extensions -->
<extension
      point="org.eclipse.ui.views">
   <category
         name="%category.SWTExamples.name"
         id="org.eclipse.swt.examples.category">
   </category>
   <view
         name="%view.ControlsExample.name"
         category="org.eclipse.swt.examples.category"
         class="org.eclipse.swt.examples.controls.ControlView"
         id="org.eclipse.swt.examples.controls.view">
   </view>
</extension>
<extension
      point="org.eclipse.swt.examples.launcher.launchItems">
   <category
         name="%launchcategory.SWTExamples.name"
         id="org.eclipse.swt.examples.launchcategory">
   </category>
   <viewItem
         viewId="org.eclipse.swt.examples.controls.view"
         name="%launchitem.ControlsExample.name"
         description="%launchitem.ControlsExample.description"
         category="org.eclipse.swt.examples.launchcategory"
         source="controlssrc.zip"
         id="org.eclipse.swt.examples.controls.launcher">
   </viewItem>
</extension>
</plugin>
