<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.PaintExample.name"
            icon="icons/paint_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.paint.PaintView"
            id="org.eclipse.swt.examples.paint.view">
      </view>
      <view
            name="%view.LayoutExample.name"
            icon="icons/layouts_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.layouts.LayoutView"
            id="org.eclipse.swt.examples.layouts.view">
      </view>
      <view
            name="%view.ControlsExample.name"
            icon="icons/controls_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.controls.ControlView"
            id="org.eclipse.swt.examples.controls.view">
      </view>
      <view
            name="%view.CustomControlsExample.name"
            icon="icons/controls_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.controls.CustomControlView"
            id="org.eclipse.swt.examples.customcontrols.view">
      </view>
       <view
            name="%view.BrowserExample.name"
            icon="icons/browser_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.browserexample.BrowserView"
            id="org.eclipse.swt.examples.browserexample.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.PaintExample.name"
            icon="icons/paint_example.gif"
            description="%launchitem.PaintExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.paint.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.paint.view">
         </view>
      </item>
      <item
            name="%launchitem.LayoutExample.name"
            icon="icons/layouts_example.gif"
            description="%launchitem.LayoutExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.layouts.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.layouts.view">
         </view>
      </item>
      <item
            name="%launchitem.ControlsExample.name"
            icon="icons/controls_example.gif"
            description="%launchitem.ControlsExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.controls.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.controls.view">
         </view>
      </item>
      <item
            name="%launchitem.CustomControlsExample.name"
            icon="icons/controls_example.gif"
            description="%launchitem.CustomControlsExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.customcontrols.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.customcontrols.view">
         </view>
      </item>
      <item
            name="%launchitem.BrowserExample.name"
            icon="icons/browser_example.gif"
            category="org.eclipse.swt.examples.launchViewCategory"
            description="%launchitem.BrowserExample.description"
            id="org.eclipse.swt.examples.browserexample.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.browserexample.view">
         </view>
      </item>
   </extension>

</plugin>
