<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.swt.examples.paint"
   name="%plugin.SWTPaintExample.name"
   version="3.1.0"
   provider-name="%providerName"
   class="org.eclipse.swt.examples.paint.PaintPlugin">

<!-- Runtime -->
   <runtime>
      <library name="paint.jar">
      </library>
   </runtime>
<!-- Required plugins -->
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.swt.examples"/>
   </requires>


<!-- Extension points -->
<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.PaintExample.name"
            icon="icons/paint_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.paint.PaintView"
            id="org.eclipse.swt.examples.paint.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.PaintExample.name"
            icon="icons/paint_example.gif"
            description="%launchitem.PaintExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.paint.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.paint.view">
         </view>
      </item>
   </extension>

</plugin>
