<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Runtime -->
   
<!-- Required plugins -->
   
<!-- Extension points -->
<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.PaintExample.name"
            icon="icons/paint_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.paint.PaintView"
            id="org.eclipse.swt.examples.paint.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.PaintExample.name"
            icon="icons/paint_example.gif"
            description="%launchitem.PaintExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.paint.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.paint.view">
         </view>
      </item>
   </extension>

</plugin>
