<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Runtime -->
   
<!-- Required plugins -->
   
<!-- Extension points -->
<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.BrowserExample.name"
            icon="icons/browser_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.browserexample.BrowserView"
            id="org.eclipse.swt.examples.browserexample.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.BrowserExample.name"
            icon="icons/browser_example.gif"
            category="org.eclipse.swt.examples.launchViewCategory"
            description="%launchitem.BrowserExample.description"
            id="org.eclipse.swt.examples.browserexample.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.browserexample.view">
         </view>
      </item>
   </extension>

</plugin>
