<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.swt"
   name="%pluginName"
   version="1.0.2"
   provider-name="Object Technology International, Inc.">

<!-- Runtime -->
<runtime>
   <library name="swt.jar">
      <export name="*"/>
   </library>
</runtime>
</plugin>
