<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.swt"
   name="%pluginName"
   version="2.0"
   provider-name="Object Technology International, Inc.">

<!-- Runtime -->
   <runtime>
      <library name="$ws$/swt.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
