<?xml version="1.0" encoding="UTF-8"?>

<plugin
   name="Eclipse SWT"
   id="org.eclipse.swt"
   version="0.108"
   provider-name="OTI">

<runtime>
  <library name="swt.jar" >
     <export name = "*"/>
  </library>
  <library name="$ws$/swt_platform.jar" >
     <export name = "*"/>
  </library>
</runtime>

</plugin>
