<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.swt.opengl"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName">

   <runtime>
      <library name="$ws$/swt.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.swt.opengl"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.swt" export="true"/>
   </requires>


</plugin>
