<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.SpyView"
            icon="icons/spy.png"
            id="org.eclipse.swt.tools.views.SpyView"
            name="%spyViewName">
      </view>
      <view
            category="org.eclipse.swt.swt.tools"
            class="org.eclipse.swt.tools.views.SleakView"
            icon="icons/sleak.png"
            id="org.eclipse.swt.tools.views.SleakView"
            name="%sleakViewName">
      </view>
   </extension>
</plugin>
