<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.swt.examples.browser.demos"
   name="%plugin.SWTBrowserDemos.name"
   version="3.1.200.qualifier"
   provider-name="%providerName"
   class="org.eclipse.swt.examples.browser.demos.BrowserDemoPlugin">

   <runtime>
      <library name="BrowserDemo.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%view.BrowserDemos.name"
            id="org.eclipse.swt.examples.browser.demos.BrowserDemo">
      </category>
      <view
            allowMultiple="false"
            class="org.eclipse.swt.examples.browser.demos.views.BrowserDemoView"
            icon="icons/pawn.gif"
            category="org.eclipse.swt.examples.category"
            name="Browser Demo"
            id="org.eclipse.swt.examples.browser.demos.views.BrowserDemoView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.BrowserDemos.name"
            icon="icons/sample.gif"
            category="org.eclipse.swt.examples.launchViewCategory"
            description="%launchitem.BrowserDemos.description"
            id="org.eclipse.swt.examples.browserdemos.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.browser.demos.views.BrowserDemoView">
         </view>
      </item>
   </extension>
</plugin>
