<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Runtime -->
<!-- Runtime -->
   
<!-- Required plugins -->
   
<!-- Extension points -->
<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.LayoutExample.name"
            icon="icons/layouts_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.layouts.LayoutView"
            id="org.eclipse.swt.examples.layouts.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.LayoutExample.name"
            icon="icons/layouts_example.gif"
            description="%launchitem.LayoutExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.layouts.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.layouts.view">
         </view>
      </item>
   </extension>

</plugin>
