<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.swt.examples.launcher"
   name="%plugin.SWTLauncherExample.name"
   version="3.1.100.qualifier"
   provider-name="%providerName"
   class="org.eclipse.swt.examples.launcher.LauncherPlugin">

<!-- Runtime -->
<!-- Runtime -->
<!-- Runtime -->
<!-- Runtime -->
   <runtime>
      <library name="launcher.jar">
      </library>
   </runtime>
<!-- Required plugins -->
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.jdt.core"/>
   </requires>


<!-- Extension points -->
   <extension-point id="launchItems" name="%extension-point.launchItems.name" schema="schema/org.eclipse.swt.examples.launcher.launchItems.exsd"/>

<!-- Extensions -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.SWTExamples.name"
            id="org.eclipse.swt.examples.category">
      </category>
      <view
            name="%view.LauncherExample.name"
            icon="icons/launcher_example.gif"
            category="org.eclipse.swt.examples.category"
            class="org.eclipse.swt.examples.launcher.LauncherView"
            id="org.eclipse.swt.examples.launcher.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.swt.examples.launcher.launchItems">
      <category
            name="%launchcategory.SWTViewExamples.name"
            description="%launchcategory.SWTViewExamples.description"
            id="org.eclipse.swt.examples.launchViewCategory">
      </category>
      <item
            name="%launchitem.LauncherExample.name"
            enabled="false"
            icon="icons/launcher_example.gif"
            description="%launchitem.LauncherExample.description"
            category="org.eclipse.swt.examples.launchViewCategory"
            id="org.eclipse.swt.examples.launcher.viewlauncher">
         <view
               viewId="org.eclipse.swt.examples.launcher.view">
         </view>
      </item>
   </extension>

</plugin>
