<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.swt.examples.launcher"
   name="%plugin.SWTLauncherExample.name"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.swt.examples.launcher.LauncherPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.swt"/>
   <import plugin="org.eclipse.jdt.launching"/>
   <import plugin="org.eclipse.debug.core"/>
   <import plugin="org.eclipse.core.boot"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="launcher.jar"/>
</runtime>

<!-- Extension points -->
<extension-point id="launchItems" name="%extension-point.launchItems.name" schema="schema/org.eclipse.swt.examples.launcher.launchItems.xsd"/>

<!-- Extensions -->
<extension
      id="application"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run
            name="%launchitem.LauncherApplication.name"
            class="org.eclipse.swt.examples.launcher.LauncherApplication">
      </run>
   </application>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         name="%category.SWTExamples.name"
         id="org.eclipse.swt.examples.category">
   </category>
   <view
         name="%view.LauncherExample.name"
         category="org.eclipse.swt.examples.category"
         class="org.eclipse.swt.examples.launcher.LauncherView"
         id="org.eclipse.swt.examples.launcher.view">
   </view>
</extension>
<extension
      point="org.eclipse.swt.examples.launcher.launchItems">
   <category
         name="%launchcategory.SWTExamples.name"
         description="%launchcategory.SWTExamples.description"
         id="org.eclipse.swt.examples.launchcategory">
   </category>
   <viewItem
         viewId="org.eclipse.swt.examples.launcher.view"
         name="%launchitem.LauncherExample.name"
         description="%launchitem.LauncherExample.description"
         category="org.eclipse.swt.examples.launchcategory"
         source="launchersrc.zip"
         id="org.eclipse.swt.examples.launcher.launcher">
   </viewItem>
</extension>
</plugin>
