<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- File written by PDE 1.0 -->
<plugin>
<!-- Required plugins -->

<!-- Runtime -->
<!-- Runtime -->

<!-- Extensions -->
<!-- Extension points -->
<extension
      point="org.eclipse.ui.views">
   <view
         name="%view.OLEWebBrowserExample.name"
         icon="icons/webbrowser_example.gif"
         category="org.eclipse.swt.examples.category"
         class="org.eclipse.swt.examples.ole.win32.OleBrowserView"
         id="org.eclipse.swt.examples.ole.win32.browserView">
   </view>
</extension>
<extension
      point="org.eclipse.swt.examples.launcher.launchItems">
   <category
         name="%launchcategory.SWTWin32OnlyExamples.name"
         description="%launchcategory.SWTWin32OnlyExamples.description"
         id="org.eclipse.swt.examples.launchWin32OnlyCategory">
   </category>
   <item
         name="%launchitem.OLEWebBrowserExample.name"
         icon="icons/webbrowser_example.gif"
         description="%launchitem.OLEWebBrowserExample.description"
         category="org.eclipse.swt.examples.launchWin32OnlyCategory"
         id="org.eclipse.swt.examples.ole.win32.viewlauncher">
      <view
            viewId="org.eclipse.swt.examples.ole.win32.browserView">
      </view>
   </item>
   <item
         name="%launchitem.OLEExample.name"
         description="%launchitem.OLEExample.description"
         category="org.eclipse.swt.examples.launchWin32OnlyCategory"
         id="org.eclipse.swt.examples.ole.win32.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples.ole.win32"
            mainClass="org.eclipse.swt.examples.ole.win32.OLEExample">
      </program>
   </item>
</extension>
</plugin>
