body {background: url(./back2.jpg) fixed; font-size: 10pt; font-family:Verdana, Arial, Helv, Helvetica, sans-serif;}
h1 {text-align: center; font-size: 14pt; font-family: Verdana, Arial, Helv, Helvetica, sans-serif;}
h2 {background: url(./line1.gif) no-repeat right bottom; font-size: 12pt; font-family:Verdana, Arial, Helv, Helvetica, sans-serif;}
h3 {font-size: 10pt; font-family:Verdana, Arial, Helv, Helvetica, sans-serif;}

ul {list-style: none; padding: 0; margin:0; font: 12pt Times;}
li.white {background: url(./white.gif) no-repeat; padding: 3px 0 32px 64px; margin: 0;}
li.black {background: url(./black.gif) no-repeat; padding: 3px 0 32px 64px; margin: 0;}
li.wall {background: url(./wall.gif) no-repeat; padding: 3px 0 32px 64px; margin: 0;}

.board {text-align: center;}
table { border-collapse: collapse; margin: 0;}
tr {}
td {height: 32px; width:32px; table-layout: fixed;}

.whitelink a {display: block; background: url(./empty.gif) no-repeat; width:32px; height:32px;}
.blacklink a {display: block; background: url(./empty.gif) no-repeat; width:32px; height:32px;}
.empty {display: block; background: url(./empty.gif) no-repeat; width:32px; height:32px;}

.whitelink a:hover {display: block; background: url(./white.gif) no-repeat; width:32px; height:32px;}
.blacklink a:hover {display: block; background: url(./black.gif) no-repeat; width:32px; height:32px;}
.white {background: url(./white.gif) no-repeat;}
.black {background: url(./black.gif) no-repeat;}
.wall {background: url(./wall.gif) no-repeat;}

.playerwhite {float: left; margin: 1em 1em; border: 1px solid gray; background: url(./white.gif) no-repeat; text-align: right; width:100px; height:32px;}
.playerblack {float: right; margin: 1em 1em; border: 1px solid gray; background: url(./black.gif) no-repeat; text-align: right; width:100px; height:32px;}

.winner {border: 4px solid blue; font: bold 16pt Times, serif;}
.loser {border: 1px solid black; font: 12pt Times, serif;}
