<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.swt.opengl.examples"
   name="%plugin.OpenGLExampleSet.name"
   version="0.5.0"
   provider-name="%providerName"
   class="">

<!-- Required plugins -->
<requires>
   <import plugin="org.eclipse.swt"/>
   <import plugin="org.eclipse.opengl" version="0.5.0" match="greaterOrEqual"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="glexamples.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extensions -->
<!-- Extension points -->
<extension
      point="org.eclipse.swt.examples.launcher.launchItems">
   <item
         name="%launchitem.OpenGLExample.name"
         description="%launchitem.OpenGLExample.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.opengl.examples.OpenGLExample.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.opengl.examples"
            mainClass="org.eclipse.swt.opengl.examples.OpenGLExample">
      </program>
   </item>
</extension>
</plugin>
