<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- File written by PDE 1.0 -->
<plugin>
<!-- Required plugins -->

<!-- Runtime -->

<!-- Extensions -->
<!-- Extension points -->
<extension
      point="org.eclipse.swt.examples.launcher.launchItems">
   <category
         name="%launchcategory.SWTStandaloneExamples.name"
         description="%launchcategory.SWTStandaloneExamples.description"
         id="org.eclipse.swt.examples.launchStandaloneCategory">
   </category>
   <item
         name="%launchitem.AddressBook.name"
         description="%launchitem.AddressBook.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.addressbook.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.addressbook.AddressBook">
      </program>
   </item>
   <item
         name="%launchitem.Clipboard.name"
         description="%launchitem.Clipboard.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.clipboard.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.clipboard.ClipboardExample">
      </program>
   </item>
   <item
         name="%launchitem.DND.name"
         description="%launchitem.DND.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.dnd.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.dnd.DNDExample">
      </program>
   </item>
   <item
         name="%launchitem.FileViewer.name"
         description="%launchitem.FileViewer.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.fileviewer.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.fileviewer.FileViewer">
      </program>
   </item>
   <item
         name="%launchitem.HoverHelp.name"
         description="%launchitem.HoverHelp.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.hoverhelp.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.hoverhelp.HoverHelp">
      </program>
   </item>
   <item
         name="%launchitem.HelloWorld1.name"
         description="%launchitem.HelloWorld1.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.helloworld1.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.helloworld.HelloWorld1">
      </program>
   </item>
   <item
         name="%launchitem.HelloWorld2.name"
         description="%launchitem.HelloWorld2.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.helloworld2.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.helloworld.HelloWorld2">
      </program>
   </item>
   <item
         name="%launchitem.HelloWorld3.name"
         description="%launchitem.HelloWorld3.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.helloworld3.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.helloworld.HelloWorld3">
      </program>
   </item>
   <item
         name="%launchitem.HelloWorld4.name"
         description="%launchitem.HelloWorld4.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.helloworld4.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.helloworld.HelloWorld4">
      </program>
   </item>
   <item
         name="%launchitem.HelloWorld5.name"
         description="%launchitem.HelloWorld5.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.helloworld5.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.helloworld.HelloWorld5">
      </program>
   </item>
   <item
         name="%launchitem.ImageAnalyzer.name"
         description="%launchitem.ImageAnalyzer.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.imageanalyzer.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.imageanalyzer.ImageAnalyzer">
      </program>
   </item>
   <item
         name="%launchitem.JavaViewer.name"
         description="%launchitem.JavaViewer.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.javaviewer.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.javaviewer.JavaViewer">
      </program>
   </item>
   <item
         name="%launchitem.TextEditor.name"
         description="%launchitem.TextEditor.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.texteditor.standalonelauncher">
      <program
            pluginId="org.eclipse.swt.examples"
            mainClass="org.eclipse.swt.examples.texteditor.TextEditor">
      </program>
   </item>
   <item
         name="%launchitem.AdvancedGraphics.name"
         description="%launchitem.AdvancedGraphics.description"
         category="org.eclipse.swt.examples.launchStandaloneCategory"
         id="org.eclipse.swt.examples.graphics.standalonelauncher">
      <program
            mainClass="org.eclipse.swt.examples.graphics.GraphicsExample"
            pluginId="org.eclipse.swt.examples"/>
   </item>
</extension>
</plugin>
