<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.swt.tests"
   name="%pluginName"
   version="3.0.2"
   provider-name="%providerName">

<requires>
   <import plugin="org.junit"/>
   <import plugin="org.eclipse.swt"/>
</requires>

<runtime>
    <library name="swttests.jar">
      <export name="*"/>
      <packages prefixes="org.eclipse.swt.tests"/>
    </library>
  </runtime>
</plugin>
