# This is the main maven workflow for SWT.

name: SWT Matrix Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [opened, reopened, synchronize, labeled]

env:
  SWT_GTK4: "${{ contains(github.event.pull_request.labels.*.name, 'gtk4') && '1' || '0' }}"

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '21' ]
        config: 
          - { name: Linux, os: ubuntu-latest, native: gtk.linux.x86_64 }
          - { name: Windows, os: windows-latest, native: win32.win32.x86_64 }
          - { name: MacOS x86, os: macos-15-intel, native: cocoa.macosx.x86_64 }
          - { name: MacOS ARM, os: macos-latest, native: cocoa.macosx.aarch64 }
    uses: ./.github/workflows/build.yml
    with:
      runner: ${{ matrix.config.os }}
      java: ${{ matrix.java }}
      native: ${{ matrix.config.native }}
      performance: ${{ contains(github.event.pull_request.labels.*.name, 'performance') }}
