# This is the main maven workflow for SWT.

# You can run this locally to test changes with the act command https://nektosact.com/
# For example, to run all linux tests on Java 21:
#   act -j build-linux --matrix java:21 --artifact-server-path $PWD/.artifacts
# You may need to download runners on first run, act will ask but if you
# want the big runner there is no progress as it downloads, so you can pull it with
# docker directly:
#   docker pull catthehacker/ubuntu:full-latest

name: SWT Matrix Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [opened, reopened, synchronize, labeled]

env:
  SWT_GTK4: "${{ contains(github.event.pull_request.labels.*.name, 'gtk4') && '1' || '0' }}"

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: Event File
        path: ${{ github.event_path }}

  build-linux:
    name: Build (Linux)
    strategy:
      fail-fast: false
      matrix:
        java: ['21']
    uses: ./.github/workflows/build.yml
    with:
      runner: ubuntu-latest
      java: ${{ matrix.java }}
      native: gtk.linux.x86_64
      performance: ${{ contains(github.event.pull_request.labels.*.name, 'performance') }}

  build-windows:
    name: Build (Windows)
    strategy:
      fail-fast: false
      matrix:
        java: ['21']
    uses: ./.github/workflows/build.yml
    with:
      runner: windows-latest
      java: ${{ matrix.java }}
      native: win32.win32.x86_64
      performance: ${{ contains(github.event.pull_request.labels.*.name, 'performance') }}

  build-macos:
    name: Build (macOS)
    strategy:
      fail-fast: false
      matrix:
        java: ['21']
        native: [cocoa.macosx.x86_64, cocoa.macosx.aarch64]
        runner: [macos-15-intel, macos-latest]
        exclude:
          - runner: macos-latest
            native: cocoa.macosx.x86_64
          - runner: macos-15-intel
            native: cocoa.macosx.aarch64
    uses: ./.github/workflows/build.yml
    with:
      runner: ${{ matrix.runner }}
      java: ${{ matrix.java }}
      native: ${{ matrix.native }}
      performance: ${{ contains(github.event.pull_request.labels.*.name, 'performance') }}
