# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: SWT Matrix Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        java: [ '17' ]
        config: 
          - { name: Linux, os: ubuntu-latest, native: gtk.linux.x86_64 }
          - { name: Windows, os: windows-latest, native: win32.win32.x86_64 }
          - { name: MacOS, os: macos-latest, native: cocoa.macosx.x86_64 }
    name: Verify ${{ matrix.config.name }} with Java-${{ matrix.java }}
    steps:
    - name: checkout swt
      uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      with:
       fetch-depth: 0 # required for jgit timestamp provider to work
       lfs: false # lfs-pull is not necessary, the natives are re-build in each run
    - name: Install Linux requirements
      run: |
        sudo apt-get update -qq 
        sudo apt-get install -qq -y libgtk-3-dev freeglut3-dev webkit2gtk-driver
      if: ${{ matrix.config.native == 'gtk.linux.x86_64'}}
    - name: Pull large static Windows binaries
      run: |
        git lfs pull --include='/binaries/org.eclipse.swt.win32.win32.x86_64/WebView2Loader.dll'
      if: ${{ matrix.config.native == 'win32.win32.x86_64'}}
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6
    - name: Build with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >-
        mvn --batch-mode -V -U -e
        --threads 1C
        -DforkCount=1
        -Dnative=${{ matrix.config.native }}
        -Papi-check
        -Dcompare-version-with-baselines.skip=true
        -Dtycho.baseline.replace=none
        --fail-at-end
        -DskipNativeTests=false
        -DfailIfNoTests=false
        clean install
    - name: Performance tests
      if: contains(github.event.pull_request.labels.*.name, 'performance')
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >-
        mvn --batch-mode -V -U -e
        -DforkCount=1
        -Dcompare-version-with-baselines.skip=true
        --fail-at-end
        -DskipNativeTests=true
        -DfailIfNoTests=true
        -Dtest=PerformanceTests
        integration-test
       working-directory: tests/org.eclipse.swt.tests
    - name: Upload Test Results for ${{ matrix.config.name }} / Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
      with:
        name: test-results-${{ matrix.config.native }}-java${{ matrix.java }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
