# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: SWT Matrix Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        java: [ '17' ]
        config: 
          - { name: Linux, os: ubuntu-latest, native: gtk.linux.x86_64 }
          - { name: Windows, os: windows-latest, native: win32.win32.x86_64 }
          - { name: MacOS, os: macos-latest, native: cocoa.macosx.x86_64 }
    name: Verify ${{ matrix.config.name }} with Java-${{ matrix.java }}
    steps:
    - name: checkout swt
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
       path: 'eclipse.platform.swt'
       fetch-depth: 0 # required for jgit timestamp provider to work
    - name: checkout swt.binaries
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      with:
       path: eclipse.platform.swt.binaries
       repository: 'eclipse-platform/eclipse.platform.swt.binaries'
    - name: Install Linux requirements
      run: sudo apt-get update -qq && sudo apt-get install -qq -y webkit2gtk-driver
      if: ${{ matrix.config.native == 'gtk.linux.x86_64'}}
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: 3.9.2
    - name: Build swt.binaries fragments with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >-
        mvn --batch-mode -Pbuild-individual-bundles -DforceContextQualifier=zzz
        -Dcompare-version-with-baselines.skip=true -Dmaven.compiler.failOnWarning=true install
       working-directory: eclipse.platform.swt.binaries
    - name: Build with Maven
      uses: coactions/setup-xvfb@b6b4fcfb9f5a895edadc3bc76318fae0ac17c8b3 # v1.0.1
      with:
       run: >-
        mvn --batch-mode -V -U
        -DforkCount=1
        -Dcompare-version-with-baselines.skip=false
        -Dmaven.compiler.failOnWarning=true
        --fail-at-end
        -DskipNativeTests=false
        -DfailIfNoTests=false
        clean install
       working-directory: eclipse.platform.swt
    - name: Upload Test Results for ${{ matrix.config.name }} / Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      with:
        name: test-results-${{ matrix.config.native }}-java${{ matrix.java }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
